{% extends 'base.html.twig' %}

{% block title %}Modifier une campagne
{% endblock %}

{% block content_header %}
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Campagnes</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="#">Home</a>
						</li>
                        <li class="breadcrumb-item">
							<a href="{{ path('app_campaign_index') }}">Campagnes</a>
						</li>
						<li class="breadcrumb-item active">Modifier une campagne</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>
{% endblock %}

{% block body %}
	{{ include('campaign/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
